<ion-header>
	<ion-navbar>
		<ion-title>{{brand.brandName}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-title>
		{{ brand.marketPrice | number }}
		<span>
			{{ brand.latestDate | date:'yy/MM/dd' }}
		</span>
	</ion-title>

	<ion-list>
		<ion-grid>
			<ion-row>
				<!-- 始値 -->
				<ion-col width-50>
					<ion-item>
						<ion-label stacked>始値</ion-label>
						<div item-content>
							{{ marketInfo.open | number }}
						</div>
					</ion-item>
				</ion-col>
				<!-- 終値 -->
				<ion-col width-50>
					<ion-item>
						<ion-label stacked>出来高</ion-label>
						<div item-content>
							{{ marketInfo.volume | number }}
						</div>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<!-- 高値 -->
				<ion-col width-50>
					<ion-item>
						<ion-label stacked>高値</ion-label>
						<div item-content>
							{{ marketInfo.high | number }}
						</div>
					</ion-item>
				</ion-col>
				<!-- 安値 -->
				<ion-col width-50>
					<ion-item>
						<ion-label stacked>安値</ion-label>
						<div item-content>
							{{ marketInfo.low | number }}
						</div>
					</ion-item>
				</ion-col>
			</ion-row>

			<!-- 表示幅切替 -->
			<ion-row>
				<ion-col>
					<ion-segment [(ngModel)]="selectedTerm" (ngModelChange)="changeSelectTerm()">
						<ion-segment-button [value]="term.value" *ngFor="let term of terms">
							{{term.name}}
						</ion-segment-button>
					</ion-segment>
				</ion-col>
			</ion-row>

			<hr>

			<!-- チャート -->
			<ion-row>
				<div style="width: 100%">
					<canvas baseChart
						*ngIf="bidChart.getDataset() != 0"
						[datasets]="bidChart.dataset"
						[chartType]="bidChart.type"
						[labels]="bidChart.labels"
						[options]="bidChart.options"
					>
					</canvas>
				</div>
			</ion-row>
		</ion-grid>
	</ion-list>
</ion-content>
