$brand-info-title-align: center;
$brand-info-number-align: right;

// 銘柄コード
$brand-code-color :gray;
$brand-code-font-size :8px;
$brand-code-opacity :0.8;

// 銘柄コード
$brand-name-font-size :16px;

// 市場価格
$market-price-font-size :14px;

// 購入額､保有数､損益､20%,-8%
$other-font-size :12px;


.portfolio-button ion-grid {
	// 銘柄コード
	ion-row:nth-of-type(1) ion-col:nth-of-type(1) {
		color :$brand-code-color;
		opacity :$brand-code-opacity;
		font-size :$brand-code-font-size;
	}

	ion-row:nth-of-type(2) {
		// 銘柄名
		ion-col:nth-of-type(1) {
			font-size :$brand-name-font-size;
		}
		// 市場価格
		ion-col:nth-of-type(2) {
			font-size :$market-price-font-size;
			text-align :right;
		}
	}

	// その他
	ion-row:nth-of-type(3) ion-col {
		font-size :$other-font-size;
	}
	ion-row:nth-of-type(4) ion-col {
		font-size :$other-font-size;
	}
	ion-row:nth-of-type(5) ion-col {
		font-size :$other-font-size;
	}

	// 右側
	ion-row:nth-of-type(3) ion-col:nth-of-type(2) {
		text-align :right;
	}
	ion-row:nth-of-type(4) ion-col:nth-of-type(2) {
		text-align :right;
	}
}

.over-profit {
	color : blue;
}

.under-profit {
	color : red;
}
