<ion-header>
	<ion-navbar>
		<ion-title>{{title}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let portfolio of portfolioList" (click)="showPortfolio(portfolio)" (press)="deletePortfolio(portfolio)">
			<!-- ポートフォリオ名 -->
			<span>
				{{portfolio.portfolioName}}
			</span>
			<!-- ポートフォリオ損得 -->
			<span *ngIf="portfolio.profit">
				損益:{{portfolio.profit | number}}円
			</span>
		</ion-item>
	</ion-list>
	<!-- 追加ボタン -->
	<ion-fab bottom right>
		<button ion-fab color="primary" (click)="addPortfolio()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>

</ion-content>
